ipython==8.12.3
matplotlib==3.9.4
mysql_connector_repackaged==0.3.1
pandas==2.2.3
PyYAML==6.0.2
PyYAML==6.0.2
refinitiv_data==1.6.2
refinitiv_dataplatform==1.0.0a21

DateTime~=5.5
mysql-connector-python~=9.2.0
progressbar~=2.5
progressbar2~=4.5.0
numpy~=1.26.4